h2 {
    text-align:center;
    text-shadow: 0px 0px 6px #00FFFF;
    background-color:#aaB5C9;
    border:6px outset #00BAFF;
    border-radius:25px;
    margin-right:30%;
    margin-left:30%;
}
#myLink:link {
    display: inline;
    font-weight: bold;
    border:3px outset #00BAFF;
    border-radius:25px;
    text-shadow: 0px 0px 6px #000000;
    color: #FFFFFF;
    background-color: #000f29;
    width: 120px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}
#myLink:visited {
    display: inline;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000f29;
    width: 120px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}
#myLink:hover {
    background-color: #999999;
}
#myLink:active {
    background-color: #CCCCCC;
}
#abc:link {
    display: inline;
    font-weight: bold;
    border:3px outset #FFFFFF;
    text-shadow: 0px 0px 6px #FFFFFF;
    color: #FFFFFF;
    border-radius:10px;
    background-color: #000f29;
    width: 120px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}
#abc:visited {
    display: inline;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000f29;
    width: 120px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}
#abc:hover {
    background-color: #aa1001;
}
#abc:active {
    background-color: #FF0000;
}
#ra:link {
    display: inline;
    font-weight: bold;
    border:3px outset #FFFFFF;
    text-shadow: 0px 0px 6px #FFFFFF;
    color: #FFFFFF;
    border-radius:10px;
    background-color: #000f29;
    width: 120px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}
#ra:visited {
    display: inline;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000f29;
    width: 120px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}
#ra:hover {
    background-color: #aa10bb;
}
#ra:active {
    background-color: #FF00DD;
}
#ro:link {
    display: inline;
    font-weight: bold;
    border:3px outset #FFFFFF;
    text-shadow: 0px 0px 6px #FFFFFF;
    color: #FFFFFF;
    border-radius:10px;
    background-color: #000f29;
    width: 120px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}
#ro:visited {
    display: inline;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000f29;
    width: 120px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}
#ro:hover {
    background-color: #aa10bb;
}
#ro:active {
    background-color: #FF00DD;
}
#re:link {
    display: inline;
    font-weight: bold;
    border:3px outset #FFFFFF;
    text-shadow: 0px 0px 6px #FFFFFF;
    color: #FFFFFF;
    border-radius:10px;
    background-color: #000f29;
    width: 120px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}
#re:visited {
    display: inline;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000f29;
    width: 120px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}
#re:hover {
    background-color: #aa10bb;
}
#re:active {
    background-color: #FF00DD;
}
h6 {
    text-align:center;
}
h5 {
    text-align:center;
    background-color:#ddc300;
    border:4px outset #DDBB00;
    border-radius:25px;
}
div {
    background-color:#DDBB00;
    border:2px solid #bb9900;
    text-align:center;
    border-radius:9px;
}
body {
    background-color:#C9DD0B;
}
#gg {
    background-color:#dd9800;
    border:3px solid #cc9800;
    border-radius:7px;
    float:left;
    position:relative;
    top:-4px;
}
#gl {
    background-color:#00A0FF;
    border:1px groove #0cACFF;
    border-radius:5px;
    position:relative;
    left:100px;
    top:-40px;
}
#xx {
    background-color:#DFCDCD;
    border:1px groove #DFCDCD;
    border-radius:4px;
}
#xy {
    background-color:#DFCDCD;
    border:1px groove #DFCDCD;
    border-radius:4px;
}
